extends template 
block content
      section.hero
      .container
        h1.hero-title CasHit 
        p.hero-description מערכת תומכת החלטה למנהלי כספומטים
        .options
          a.btn.btn-primary(href='/signup') Sign Up
          a.btn.btn-secondary(href='/login') Login
      footer
        .footer-container
          p.footer-text &copy; 2023 CasHit. All rights reserved.
          