extends template 
block content 
    nav.navbar
        .navbar-links
            a(href='/logOut') Log out
    .container
        h1 מה תרצה לראות
        button#reports-button(onclick='reportsPageFunc()') צפייה בדו"חות
        button#reports-button(onclick='reportsPageFunc()') תכנון נסיעה
