extends template
block content1 
    nav.navbar
        .navbar-links
            a(href='/main') Main
            a(href='/logOut') Log out
    iframe(title='report 1', width='80%', height='80%', src='https://app.powerbi.com/reportEmbed?reportId=b5b3ae47-34a1-428a-a21b-2b99d3bab83a&autoAuth=true&ctid=474cbbe4-ab8e-40ae-a518-715ca4c0ba5a', frameborder='0', allowfullscreen='true')