extends template 
block content 
    nav.navbar
        .navbar-links
            a(href='/main') Main 
            a(href='/logOut') Log out
    .container
        h1 במה נוכל לסייע
        textarea#request(name="request", cols="30", rows="10")
        button#request-button(onclick='requestbuttonFunc()') שלח  
    #popup-comment.hidden !תודה נענה בהקדם    