doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title CasHit  
    script(defer='', src='script.js')
    link(rel='stylesheet', href='style.css')
  body
    block content1
      h1.h7 CasHit
    block content
  // Additional content goes here
